body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('../images/assets/Battle Cats Background.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

header {
    margin-bottom: 20px;
}

#menu-cat {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 300px;
    height: auto;
}

#game-container {
    margin: 0 auto;
    width: 917px;
    height: 392px;
    background: linear-gradient(180deg, #253131 0%, #4E6764 100%);
    border-radius: 45px;
    border: 4px solid #E6E6E6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-bar-outer {
    background-color: #e6e6e6;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 580px;
    height: 60px;
    border: 3px solid #000;
    position: relative;
    z-index: 2;
}

#search-bar {
    width: 430px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    background: #d9d9d9;
    padding: 10px;
    font-size: 16px;
    outline: none;
    margin-left: 16px;
}

#search-button {
    position: absolute;
    right: 10px;
    width: 84px;
    height: 46px;
    border-radius: 10px;
    border: 2px solid #000;
    background: linear-gradient(180deg, #FEC200 0%, #C99102 100%);
    color: #E4E3E3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact;
    font-size: 34px;
    line-height: normal;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    text-align: center;
}

#search-button:hover {
    background: linear-gradient(180deg, #E0A800 0%, #A57A00 100%);
}

#results-container {
    display: none;
    position: absolute;
    top: 554px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 2px solid #000;
    border-radius: 10px;
    z-index: 3;
    max-height: 300px;
    overflow-y: auto;
}

.cat-result {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.cat-result:hover {
    background: #f0f0f0;
}

.cat-img {
    width: 120px;
    height: 120px;
    border: none;
}

.header-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.search-cat-img {
    width: 50px;
    height: 50px;
}

.cat-img-container {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.cat-img-container img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.cat-details p {
    margin: 0;
}

#cat-details-container {
    padding: 5px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.cat-details-element {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.cat-detail {
    flex: 1;
    text-align: center;
    border: 1px solid #FFFFFF;
    padding: 3px;
    margin: 0 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.green-box,
.red-box,
.yellow-box,
.white-box {
    padding: 10px;
    border-radius: 10px;
    font-family: 'Impact';
    font-size: 16px;
    color: white;
}

.cat-detail .traits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cat-detail .trait-icon {
    width: 20px;
    height: 20px;
    margin: 2px;
}

.cat-detail.small-font .traits-container .trait-icon {
    width: 25px;
    height: 25px;
}

.cat-details-element .red-box,
.cat-details-element .green-box,
.cat-details-element .yellow-box {
    width: 120px;
    max-width: 120px;
    height: 100px;
    max-height: 100px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Impact';
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cat-detail img:not(.cat-img) {
    width: 30px;
    height: 30px;
}

.good-job-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

/* Custom scrollbar styling */
#results-container::-webkit-scrollbar {
    width: 12px;
}

#results-container::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-radius: 10px;
}

#results-container::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
}

#results-container::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

/* Styles for the colored boxes */
.green-box {
    background-color: #3DBE29;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Impact';
    font-size: 14px;
}

.red-box {
    background-color: #FF3232;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Impact';
    font-size: 14px;
}

.yellow-box {
    background-color: #FFEA00;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Impact';
    font-size: 14px;
}

.indicator {
    display: inline-block;
    font-size: 1em;
    vertical-align: middle;
}

.up {
    color: green;
}

.down {
    color: red;
}