body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('../images/assets/Battle Cats Background.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

header {
    margin-bottom: 20px;
}

#menu-cat {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 300px;
    height: auto;
}

#game-container {
    margin: 0 auto;
    width: 917px;
    height: 392px;
    background: linear-gradient(180deg, #253131 0%, #4E6764 100%);
    border-radius: 45px;
    border: 4px solid #E6E6E6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-outer {
    background-color: #e6e6e6;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 580px;
    height: 60px;
    border: 3px solid #000;
    position: relative;
    z-index: 2;
}

#search-bar {
    width: 430px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    background: #d9d9d9;
    padding: 10px;
    font-size: 16px;
    outline: none;
    margin-left: 16px;
}

#search-button {
    position: absolute;
    right: 10px;
    width: 84px;
    height: 46px;
    border-radius: 10px;
    border: 2px solid #000;
    background: linear-gradient(180deg, #FEC200 0%, #C99102 100%);
    color: #E4E3E3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact;
    font-size: 34px;
    line-height: normal;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    text-align: center;
}

#search-button:hover {
    background: linear-gradient(180deg, #E0A800 0%, #A57A00 100%);
}

#headers {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
    font-family: Impact, Charcoal, sans-serif;
}

#cat-details-container {
    padding: 10px;
    margin-top: 20px;
}

.cat-details-element {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.cat-detail {
    flex: 1;
    text-align: center;
    border: 1px solid #FFFFFF;
    padding: 5px;
}

.good-job-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

.trait-icon,
.ability-icon {
    width: 40px;
    height: 40px;
}