body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('../images/Battle Cats Background.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

header {
    margin-bottom: 20px;
}

#game-container {
    margin: 0 auto;
    width: 917px;
    height: 392px;
    background: linear-gradient(180deg, #253131 0%, #4E6764 100%);
    border: 4px solid #E6E6E6;
    border-radius: 45px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-bar {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

#search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #45a049;
}

.cat-result {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cat-result:hover {
    background-color: #f1f1f1;
}

.cat-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#cat-details-container {
    padding: 10px;
}

.cat-details-element {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.cat-detail {
    flex: 1;
    text-align: center;
}

.cat-details-element .cat-detail {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 5px;
}

.good-job-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

.trait-icon,
.ability-icon {
    width: 40px;
    height: 40px;
}

#headers {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
    font-family: 'Impact', sans-serif;
}