#results-container {
    margin-top: 20px;
}

.cat-result {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cat-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cat-details p {
    margin: 0;
    padding: 0;
}

.body {

}